// 背景
body {
  background-image:url(https://bu.dusays.com/2023/08/30/64ef4f20dbe1f.jpeg);
  height:100%;
  width:100%;
  background-repeat:repeat-x;
  background-attachment:fixed;
  background-size:cover;
}
